@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p> <a href="@Url.Action("Create","Courses")">Create New Course</a>.</p>
    <p> <a href="@Url.Action("Create","Category")">Create New Category</a>.</p>
</div>
